/* @media only screen and (max-width: 1000px){
    .className{

    }
} */


/* KONTAKT SECTION ****************************************/

@media only screen and (max-width: 1160px){
    #kontakt{
     max-width: 1160px;
     height: 1200px;

    }

    .kontaktLeftSide{
        width: 91%;
        
    }
} 

@media only screen and (max-width: 1160px){
    .kontaktRightSide{
        position: absolute;
        width: 100%;
        margin: 0 auto;
        margin-top: 520px;


    }
} 


@media only screen and (max-width: 1160px){
    .kontaktRightSide h2{
        font-size: 50px;        
    }
} 

@media only screen and (max-width: 1160px){
    .kontaktRightSide p{
        font-size: 30px;        
    }
} 

@media only screen and (max-width: 1160px){
    .kontaktGlyph{
        margin-left: 150px;
        margin-top: -60px;       
    }
} 



@media only screen and (max-width: 1160px){
    .kontaktImgLogo{
        transform: scale(0.3);
    }

   
} 






@media only screen and (max-width: 1160px){
    .formSize, .formSizeMessage {
        width: 100%;
        
        
    
        
    }
} 

 

@media only screen and (max-width: 1160px){
    #kontakt h1 {
        position: relative;
        text-align: left;
        margin-left: 20px;
        

        
        
    
        
    }
} 

@media only screen and (max-width: 1160px){
    .submitAlign {
        margin-left: 20px;

    }
    .formTextAlign{
        margin-left: 20px;
    }

    .formSize{
        margin-left: 20px;
    }

    .formSizeMessage{
        margin-left: 20px;
    }

  

    
} 



@media only screen and (max-width: 1000px){
    #zaruka p{
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 20px;

    }
} 


@media only screen and (max-width: 640px){
    .wrapperPosledne h1{
        font-size: 40px;

    }
} 

@media only screen and (max-width: 540px){
    .wrapperPosledne h1{
        font-size: 35px;
        

    }

  
} 


@media only screen and (max-width: 640px){
    #posledne{
        height: 100px;
        

    }

    .wrapperPosledne h1{
        padding-top: 10px;
    }
} 









