/* @media only screen and (max-width: 1000px){
    .className{

    }
} */


/* KONTAKT SECTION ****************************************/

@media only screen and (max-width: 1160px){
    #kontakt{
     max-width: 1160px;
     height: 1200px;

    }
} 

@media only screen and (max-width: 1160px){
    .kontaktRightSide{
        position: absolute;
        width: 100%;
        margin: 0 auto;
        margin-top: 520px;


    }
} 


@media only screen and (max-width: 1160px){
    .kontaktRightSide h2{
        font-size: 50px;        
    }
} 

@media only screen and (max-width: 1160px){
    .kontaktRightSide p{
        font-size: 30px;        
    }
} 


@media only screen and (max-width: 1160px){
    .kontaktImgLogo{
        transform: scale(0.3);
    }
} 






@media only screen and (max-width: 1160px){
    .formSize, .formSizeMessage {
        width: 100%;
        
        
    
        
    }
} 

@media only screen and (max-width: 1160px){
    .kontaktLeftSide {
        position: absolute;
        width: 72%;
        margin-right: auto;
        margin-left: -40px; 

        
        
    
        
    }
} 

@media only screen and (max-width: 1160px){
    #kontakt h1 {
        margin-left: 75px;
        text-align: center;

        
        
    
        
    }
} 









