body{
    margin: 0;
    padding: 0;
}

#navigation{
    height: 90px;
    width: 100%;
    background-color: antiquewhite;
}

#navWrapper{
    width: 1140px;
    height: 90px;
    margin: 0 auto;
    background-color: aqua;
}

#logo{
    position: relative;
}

#logo img{
    transform: scale(0.25);
    position: absolute;
    top: -120px;
    left: -120px;
}