*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

#navigation{
    height: 90px;
    width: 100%;
    background-color: antiquewhite;
}

#navWrapper{
    width: 1150px;
    height: 90px;
    margin: 0 auto;
    background-color: aqua;
}

#logo{
    position: relative;
}

#logo img{
    transform: scale(0.24);
    position: absolute;
    top: -120px;
    left: -128px;
}

#webstudio{
    margin-left: 80px;
    padding-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

#webstudio > p{
    font-family: Noto Sans;
}