/* MAIN PROJECT SETTINGS *************************************/
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

/* NAVIGATION ******************************************/

#navigation{
    height: 90px;
    width: 100%;
    position: fixed;
    background-color: white;
    /* border: 1px red solid; */
    margin-top: -90px;
    
}

#navWrapper{
    width: 1150px;
    height: 90px;
    margin: 0 auto;
    /* background-color: aqua; */
}

#logo{
    position: relative;
}

#logo img{
    transform: scale(0.24);
    position: absolute;
    top: -120px;
    left: -128px;
}

#webstudio{
    margin-left: 80px;
    padding-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

#webstudio > p{
    font-family: Noto Sans;
}

/* BANNER ************************************************/

#banner{
    width: 100%;
    height: 684px;
    background-image: url(/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
}


/* SECTION OVERVIEW *********************************/

#overview{
    width: 1150px;
    height: 1000px;;
    background-color: aliceblue;
    margin: 0 auto;
    position: relative;
}

#overviewImg{
    transform: scale(0.72);
    position: absolute;
    top: -40px;
    left: -168px;
    
}